body {
    background-color: #FFFFFF;
    margin: 0px;
    font-family: verdana;
    font-size: 12px;
}

#upperBox {
    height: 25px;
    padding-left: 10px;
    background-color: #F4F4F4;
}

#midBox {
    overflow-y: scroll;
    background-color: #FEFFED;
}

#lowerBox {
    height: 125px;
    background-color: #F4F4F4;
    display: table-row;
    width: 100%;
}

#output {
    width: 600px;
    height: 115px;
    margin: 0px;
    display: table-cell;
}

#help {
    display: table-cell;
    vertical-align: top;
    padding: 5px;
}

#help h4 {
    margin: 0px;
}

#inputs {
    font-family: Courier;
    font-size: 12px;
    margin: 0px;
}

#inputs li {
    list-style: none;
    border-left: 1px solid #000000;
    border-top: 1px solid #F4F4F4;
}

#inputs li::before {
    content: " ";
    border-left: ;1px solid #000000;
    border-bottom: 1px solid #000000;
    width: 10px;
    height: 10px;
    vertical-align: top;
    margin-right: 5px;
    display: inline-block;
}

.tagDescription {
    margin-left: 10px;
    color: #9D9D9D;
    display: inline-block;
    width: 800px;
    vertical-align: middle;
}

.tagTitle {
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
}